* {
    color: #ffffff;
}

.buttonpurple {
    background-color: #684cafa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
}

.buttongreen {
    background-color: #4caf4fa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
}

.buttonorange {
    background-color: #c07134a5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
}

.buttonhover:hover {
    color: rgba(11, 10, 10, 0.904)
}

body {
    background-color: rgba(11, 10, 10, 0.904);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 30px;
}

.p0img {
    width: 30%;
}
.p1img {
    width: 40%;
}
.p2img {
    width: 23%;
}
.p3img {
    width: 45%;
}
.p4img {
    width: 22%;
}
.p5img {
    width: 43%;
}
.p6img {
    width: 50%;
}
.p7img {
    width: 70%;
}
.p8img {
    width: 70%;
}
.p9img {
    width: 75%;
}
.p10img {
    width: 80%;
}

